.Punkcard{
    color: white;
    background-color: #1a1c1e;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    overflow: hidden;
    margin-right: 30px;
}
.Punkcard > img {
    width: 100%;
}
.etherImage{
    width: 15px;
    height: 25px;
}
.ActualPrice{
    margin-left: 5px;
    font-weight: 600px;
}
.etherPrice{
    align-items: center;
    object-fit: contain;
    display: flex;
    margin-top: 10px;
}
.details{
    padding: 20px;
}
.id{
    color: #a1a5b0;
    font-size: 17px;
    font-weight: 600px;
}
.name{
    font-size: 20px;
    font-weight: 900px;
}